@charset "utf-8";

.art { 
	width: 200pt;
	height: auto;
}

.eiffel {
	width: 150pt;
	height: auto;
}

.painting {
	width: 200pt;
	height: auto;
}

.santorini {
	width: 200pt;
	height: auto;
}

.footer {
	background-color: #6C757D;
}

.jumbotron-image{
	background-image: url("../images/canon.jpg");
	background-size: contain;
}
.jumbotron {
	position: relative;
	overflow: hidden;
	background-image: url("../images/canon.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}